
<div class="container">
  <div class="content">
    <div class="title">
      Find all your<br>favorite heroes<br>“Star Wars”
    </div>
    <div class="info">
      You can know the type of heroes, its strengths, disadvantages and abilities
    </div>
    <app-button (click)="goToPreviewPage()" [text]="buttonText"></app-button>
  </div>
</div>
