.container {
  background: url("../../assets/bg.png") center;

  .content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 100%;
    margin-left: 213px;

    .title {
      margin-top: 230px;
      font-weight: 900;
      font-size: 72px;
      max-width: 580px;
      margin-bottom: 35px;

    }

    .info {
      font-size: 24px;
      max-width: 400px;
      margin-bottom: 50px;
    }

  }
}
