<header class="header">
  <img [src]="imgUrl" alt="logo">
  <nav class="header__navigation">
    <a routerLink="{{ link.path }}" *ngFor="let link of navigationLinks" >{{ link.text }}</a>
  </nav>
</header>
