.header {
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: flex;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;

  img {
    height: 90px;
    width: 150px;
    margin-left: 80px;
    margin-top: 30px;
  }

  .header__navigation {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 45px;

    a {
      font-size: 24px;
      margin-right: 70px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color .3s linear;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        border-color: #ffffff;
      }
    }
  }

}
