.container {
  background: url("../../assets/404.png") center;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #FFFFFF;

  h2 {
    margin-top: 670px;
    margin-bottom: 50px;
  }

  app-button {
    display: flex;
    justify-content: center;
    text-align: center;
  }

}
