<div class="container">
  <div class="not_found">
    <h2>This page is not fully armed and operational.</h2>
    <app-button (click)="goToStartPage()" [text]="buttonText"></app-button>
  </div>
</div>
