<div class="card__modal" (click)="modalHandler($event)">
  <div class="card__window">
    <div class="modal__avatar">
      <img src="{{httpService.currentPerson?.imageURL}}" alt="{{httpService.currentPerson?.name}}">
    </div>
    <div class="close_icon" (click)="closeIcon()">&otimes;</div>
    <h2 style="color: {{httpService.currentPerson?.nameColor}}">{{httpService.currentPerson?.name}}</h2>
    <div class="description"
      style="background: {{httpService.currentPerson?.backgroundColor}}"
    >
      <div class="row"
        style="border-bottom: 1px solid {{httpService.currentPerson?.parametersColor}}; color: {{httpService.currentPerson?.parametersColor}}"
      >
        <p>Gender</p>
        <p>{{httpService.currentPerson?.gender?.value}}</p>
      </div>
      <div class="row"
        style="border-bottom: 1px solid {{httpService.currentPerson?.parametersColor}}; color: {{httpService.currentPerson?.parametersColor}}"
      >
        <p>Race</p>
        <p>{{httpService.currentPerson?.race?.value}}</p>
      </div>
      <div class="row"
        style="color: {{httpService.currentPerson?.parametersColor}}"
      >
        <p>Side</p>
        <p>{{httpService.currentPerson?.side?.value}}</p>
      </div>
    </div>
    <div class="person__text"
      style="color: {{httpService.currentPerson?.parametersColor}}"
    >
      {{httpService.currentPerson?.description}}
    </div>
  </div>
</div>
