.card__modal {
  position: absolute;
  top: 130px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;

  .card__window {
    position: relative;
    height: 700px;
    width: 1000px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;

    .modal__avatar {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 600px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      position: absolute;
      left: 0;
      margin-top: 260px;
      margin-left: 45px;
      padding: 10px;
      border-radius: 4px;

      .row {
        display: flex;
        justify-content: space-between;
        width: 250px;

        p {
          font-size: 24px;
        }

        p:first-child {
          opacity: .5;
        }
      }
    }

    .person__text {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 40px;
      margin-left: 40px;
      font-size: 20px;
      max-width: 330px;
    }

  }

  h2 {
    position: absolute;
    left: 0;
    margin-left: 45px;
    margin-top: 45px;
    font-weight: 500;
    font-size: 50px;
    max-width: 300px;
  }

  .close_icon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
  }
}
