.card {
  &:nth-child(2) {
    margin-left: 25px;
    margin-right: 25px;
  }

  cursor: pointer;
  width: 410px;
  border-radius: 4px;


  .card__avatar {
    position: relative;
    height: 400px;

    img {
      width: 100%;
      max-width: 410px;
      height: 100%;
      max-height: 400px;
      border-radius: 4px 4px 0 0;
    }

    h2 {
      position: absolute;
      margin-top: 25px;
      margin-left: 25px;
      top: 0;
      left: 0;
      max-width: 230px;

      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      line-height: 29px;
      color: #FFFFFF;
    }
  }

  .card__info {
    height: 120px;
    width: auto;
    padding: 10px 25px 20px;
    line-height: 10px;
    border-radius: 0 0 4px 4px;

    .row {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
    }
  }

}
