<div class="card" [routerLink]="dataPerson?.id">
  <div class="card__avatar">
    <img src="{{dataPerson?.imageURL}}" alt="{{dataPerson?.name}}">
    <h2
      style="color: {{dataPerson?.nameColor}}"
    >{{dataPerson?.name}}</h2>
  </div>

  <div class="card__info"
       style="background: {{dataPerson?.backgroundColor}}; color: {{dataPerson?.parametersColor}}"
  >
    <div class="row"
      style="border-bottom: 1px solid {{dataPerson?.parametersColor}}"
    >
      <p>Gender</p>
      <p>{{dataPerson?.gender}}</p>
    </div>
    <div class="row"
      style="border-bottom: 1px solid {{dataPerson?.parametersColor}}"
    >
      <p>Race</p>
      <p>{{dataPerson?.race}}</p>
    </div>
    <div class="row">
      <p>Side</p>
      <p>{{dataPerson?.side}}</p>
    </div>
  </div>
</div>
