<div class="container">
  <div class="preview__content">
    <h2>Who's Your Favorite Star Wars</h2>
    <app-filters></app-filters>
    <app-characters></app-characters>
    <app-pagination></app-pagination>
  </div>
</div>
