.container {
  background: url("../../assets/bg_preview.png") center;


  color: white;

  .preview__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 35px;
      color: #ffffff;
      margin-top: 35px;
      text-align: center;
    }

  }

}

