.pagination {
  max-width: 1280px;
  width: 165px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //border: 1px solid #03B3FF;

  .arrow {
    cursor: pointer;
    height: 100%;
    transition: all .1s linear;

    &:active {
      transform: scale(1.3);
    }

  }

  .dots__block {
    display: flex;
    justify-content: space-between;
    width: 80px;

  }

  .dot {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    transition: all .1s linear;

    &:active {
      transform: scale(1.3);
    }

    &-active {
      background: #3FC4FD;
    }
  }


}
