<div class="pagination">

  <div class="arrow arrow-left" (click)="httpService.decreaseActiveIndex()">
    <img src="../../assets/arrow_left.svg" alt="arrow_left">
  </div>

  <div class="dots__block">

    <div
      class="dot"
      [class.dot-active]="httpService.activeIndex === i"
      *ngFor="let dot of httpService.dots; let i = index"
      (click)="httpService.setActiveIndex(i)"
    ></div>

  </div>

  <div class="arrow arrow-right" (click)="httpService.increaseActiveIndex()">
    <img src="../../assets/arrow_right.svg" alt="arrow_right">
  </div>

</div>
