.filters {
  max-width: 1280px;
  width: 100%;
  height: 110px;
  margin: 0 auto 30px;

  display: flex;
  flex-direction: column;

  .search__block {

    input {
      width: 100%;
      background: #000000;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 4px;
      height: 50px;
      color: #FFFFFF;
      padding-left: 20px;
      font-size: 18px;

    }
  }

  .filters__block {
    display: flex;
    position: relative;



    .add {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 140px;
      height: 45px;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      cursor: pointer;
      transition: all .1s linear;

      &:hover {
        background: #3FC4FD;
      }

      &:active {
        background: #FFFFFF;
        color: #000000;
      }
    }

  }

}
