<div class="filters">
  <div class="search__block">
    <label for="search_input"></label>
    <input
      id="search_input"
      type="text"
      placeholder="Search heroes"
      [(ngModel)]="httpService.searchValue"
      (ngModelChange)="httpService.getData()"
    >
  </div>
  <div class="filters__block">
    <app-checkbox title="Gender" [values]="['Мужчина', 'Женщина', 'Неизвестен']"></app-checkbox>
    <app-checkbox title="Race" [values]="['Человек', 'Дроид', 'Вуки', 'Неизвестен']"></app-checkbox>
    <app-checkbox title="Side" [values]="['Светлая', 'Темная', 'Неизвестен']"></app-checkbox>
    <div class="add" (click)="router.navigate(['preview', 'add'])">
      <p>Add</p>
      <p>+</p>
    </div>
  </div>
</div>

