.checkbox {

  width: 140px;
  height: 45px;
  border: 1px solid #FFFFFF;
  margin-right: 15px;
  margin-top: 12px;
  border-radius: 4px;


  &:hover {
    border: 1px solid #03B3FF;
  }

  .title {
    display: flex;
    justify-content: space-around;
    cursor: pointer;



    img {

      &.reverse {
        transform: scale(-1);
      }
    }

  }



  .list {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    position: absolute;
    top: 65px;
    z-index: 1;

    background: #000000;

    border: 1px solid #FFFFFF;
    border-radius: 4px;

    &.hide {
      display: none;
    }

    label {
      display: flex;
      margin: 10px;
      cursor: pointer;

      &:hover {
        color: #03B3FF;
      }

      input {
        cursor: pointer;
      }
    }
  }

}

