
<div class="checkbox">

  <div class="title" (click)="rotateFn()">
    <p [title]="title">{{ title }}</p>
    <img src="../../assets/drop.svg" alt="dropicon" #imgRef [class.reverse]="rotate">
  </div>

  <div class="list" #listRef [class.hide]="hide">

    <label *ngFor="let item of values">
      <input
        type="checkbox"
        value="{{ item }}"
        (click)="logEvent($event)"
        [checked]="checkFilterValue(title.toLowerCase(), item)"
      >
      {{ item }}
    </label>



  </div>

</div>
