.button {
  padding: 15px 45px;
  background-color: #3FC4FD;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  transition: background-color .3s ease-in;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;

  &:hover {
    background-color: #0C92CC;
  }

  &:active {
    background-color: #03B3FF;
  }
}
