<div class="add-modal" (click)="closeAddModal($event)">
  <div class="add__window">
    <form novalidate [formGroup]="theForm" (ngSubmit)="submit()">
      <div class="inputs_block">


        <div class="form_name">
          <div class="input_header">
            <p>Add name</p>
            <div
              class="validation"
              *ngIf="theForm.get('name')?.invalid && theForm.get('name')?.touched"
            >
<!--            <div>-->

              <small
                *ngIf="theForm.get('name')?.errors!['required']"
              >
                Поле обязательно для заполнения
              </small>
            </div>
          </div>

          <input id="form_name" formControlName="name">
        </div>

<!--          <pre>{{ theForm.get('description')?.errors | json }}</pre>-->

        <div class="form_params">
          <select formControlName="gender">
            <option selected disabled>Gender</option>
            <option value="male">Мужской</option>
            <option value="female">Женский</option>
<!--            <option value="unknown">Неизвестен</option>-->
          </select>
          <select formControlName="race">
            <option selected disabled>Race</option>
            <option value="man">Человек</option>
            <option value="droid">Дроид</option>
            <option value="wookiee">Вуки</option>
<!--            <option value="unknown">Неизвестен</option>-->
          </select>
          <select formControlName="side">
            <option selected disabled>Side</option>
            <option value="light">Светлая</option>
            <option value="dark">Темная</option>
<!--            <option value="unknown">Неизвестен</option>-->
          </select>
        </div>

        <div class="desc_block">
          <label for="desc">
            <p>Add description</p>
            <p>
              {{ theForm.get('description')?.value.length }} / {{ descriptionMaxLength }}
            </p>
          </label>
          <textarea formControlName="description" id="desc" ></textarea>
        </div>

        <div class="color_and_image">
          <div class="image">
            <div class="image_block">
              <img *ngIf="image" src="{{image}}" alt="avatar">

              <label class="file_upload" *ngIf="!image">
                <input type="file" #imgInput (change)="loadFile($event)">
                Upload by URL
              </label>

            </div>

            <div class="btn_image">
              <button (click)="clearImage()">Cancel</button>
            </div>

          </div>

          <div class="color">
            <div class="color_row">
              <input type="color" formControlName="nameColor">
              <p>Name color</p>
            </div>
            <div class="color_row" f>
              <input type="color" formControlName="backgroundColor">
              <p>Background color of the parameters </p>
            </div>
            <div class="color_row">
              <input type="color" formControlName="parametersColor">
              <p>Color of parameters</p>
            </div>
          </div>


        </div>





      </div>
      <div class="inputs_preview">
        <div class="close_icon" (click)="httpService.toggle()">&otimes;</div>
        <button type="submit" [disabled]="theForm.invalid">Save</button>
        <div class="preview_card">
          <h2 style="color: {{theForm.get('nameColor')?.value}}">{{theForm.get('name')?.value}}</h2>
          <img *ngIf="image" src="{{image}}" alt="avatar">
          <div class="preview_description" style="background: {{theForm.get('backgroundColor')?.value}}">

          </div>
        </div>
      </div>

    </form>

  </div>
</div>
