.add-modal {
  position: absolute;
  text-align: center;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  background: rgba(0, 0, 0, .8);

  display: flex;
  align-items: center;
  justify-content: center;

  .add__window {
    width: 1000px;
    height: 720px;
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    position: relative;

    form {
      display: flex;
      height: 100%;
      color: #FFFFFF;
    }


    .inputs_block {
      width: 50%;
      border-right: 1px solid #FFFFFF;
      padding: 20px 30px;

      .form_name {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 445px;

        .input_header {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;

          p {
            margin: 0;
          }
        }

        input {
          width: 100%;
          border: 1px solid #FFFFFF;
          background: #000000;
          color: #FFFFFF;
          margin-top: 10px;
          height: 30px;
          border-radius: 4px;
          padding-left: 10px;

          &:focus {
            border: 1px solid #03B3FF;
            outline: #03B3FF;
          }

          &.ng-invalid.ng-touched {
            border: 1px solid red;
          }

          //&.ng-valid.ng-touched {
          //
          //}

        }
      }

      .form_params {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 445px;

        select {
          width: 120px;
          padding:5px 15px;
          background: #000000;
          color: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 4px;
        }
      }

      .desc_block {
        width: 445px;

        label {
          display: flex;
          justify-content: space-between;
        }

        textarea {
          max-width: 445px;
          width: 100%;
          height: 145px;
          resize: none;
          border-radius: 4px;
          background: #000000;
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          padding: 10px;

          &:focus {
            outline: #03B3FF;
            border: 1px solid #03B3FF;
          }
        }
      }

      .color_and_image {
        height: 300px;
        width: 100%;
        display: flex;

        .image {
          width: 50%;
          height: 100%;

          .image_block {
            width: 200px;
            height: 230px;
            margin-top: 20px;
            border-radius: 10px;
            border: 1px solid #FFFFFF;

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }

            input[type="file"] {
              display: none;
            }
            .file_upload {
              margin-top: 100px;
              border: 1px solid #3FC4FD;
              display: inline-block;
              padding: 6px 12px;
              cursor: pointer;
              border-radius: 5px;
            }
          }
          .btn_image {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 200px;
            margin-top: 10px;

            button {
              width: 180px;
              height: 30px;
              color: #000000;
              border-radius: 4px;
              border: none;
              transition: all .3s ease-in-out;
              cursor: pointer;
              background: #C4C4C4;

              &:hover {
                background: darken(#c4c4c4, 20%);
              }
              &:active {
                background: lighten(#c4c4c4, 20%);
              }
            }

          }
        }
        .color {
          width: 50%;
          height: 100%;
          padding-left: 20px;
          padding-top: 20px;


          .color_row {
            display: flex;
            align-items: center;

            p {
              max-width: 150px;
              text-align: left;
              margin-left: 10px;
            }
            input {
              width: 50px;
              height: 30px;
              border-radius: 5px;
              border: 1px solid #FFFFFF;
              outline: none;
            }
            input[type='color'] {
              border-radius: 6px;
              padding: 0;
              -webkit-appearance: none;
            }
            input[type='color']::-webkit-color-swatch-wrapper {
              padding: 0;
            }
            input[type='color']::-webkit-color-swatch {
              border: solid 1px #FFFFFF;
            }


          }
        }
      }

    }
    .inputs_preview {
      height: 100%;
      width: 50%;
      position: relative;

      .close_icon {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 50%;

      }

      button {
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 15px 40px;
        width: 120px;
        height: 55px;
        border-radius: 5px;
        background: #3FC4FD;
        color: #000000;
        font-size: 18px;
        outline: none;
        transition: all .4s linear;
        cursor: pointer;

        &:disabled {
          background: darken(#3FC4FD, 40%);
        }

        &:active {
          background: #0C92CC;
        }
      }

      .preview_card {
        position: relative;
        border-radius: 5px;
        border: 1px solid #FFFFFF;
        width: 280px;
        height: 420px;
        left: calc(50% - 140px);
        top: calc(50% - 210px);

        img {
          width: 100%;
          max-height: 300px;
          border-bottom: 1px solid #FFFFFF;
        }
        h2 {
          position: absolute;
          color: deeppink;
          left: 10px;
        }
        .preview_description {
          position: absolute;
          height: 120px;
          width: 100%;
          bottom: 0;
        }
      }

    }

  }
}

input {

  &.ng-invalid.ng-touched {
    //border: 1px solid red ;
  }
  &.ng-valid.ng-touched {
    border: 1px solid green ;
  }


  &:focus {
    //border: 1px solid #3FC4FD !important;
    //outline: #03B3FF;
  }
}
.validation {
  color: #3FC4FD;
}
