@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: #000000;
}

.container {
  position: absolute;
  max-width: 1920px;
  width: 100%;
  max-height: 960px;
  height: calc(100% - 130px);
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;

}
